<h2>Doctor Form</h2>
<form [formGroup]="doctorFormGroup" (ngSubmit)="save()">
  <ng-template>signup
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <div>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" type="text" required>
      <mat-hint>Informe seu nome completo.</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>CRM</mat-label>
      <input matInput formControlName="crm" type="text" required>
      <mat-hint>Informe o CRM.</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-hint>Informe um e-mail ativo, para receber notificações.</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input [type]='passwordType' formControlName="password" matInput placeholder="senhasupersecreta" required>
      <mat-button-toggle
        (click)="togglePasswordVisibility(buttonToggle)"
        matSuffix #buttonToggle="matButtonToggle">
        <mat-icon>{{togglePasswordIcon}}</mat-icon>
      </mat-button-toggle>
      <mat-hint>Informe uma senha com pelo menos 5 caracteres.</mat-hint>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
