<ng-template [ngIf]="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<h2>Appointment</h2>
<form [formGroup]="appointmentFormGroup" (reset)="cancel()" (ngSubmit)="save()">
  <div>
    <ng-template [ngIf]="isLoadingDoctors">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <ng-template [ngIf]="isDoctor()">
      <mat-form-field>
        <input type="text"
               placeholder="Pick one customer"
               matInput
               required
               formControlName="customerName"
               [matAutocomplete]="autoCustomer">
        <mat-autocomplete (optionSelected)="setCustomer($event)" autoActiveFirstOption #autoCustomer="matAutocomplete">
          <mat-option *ngFor="let option of filteredCustomers" [value]="option">{{option.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-template>
    <mat-form-field>
      <input type="text"
             placeholder="Pick one doctor"
             matInput
             required
             formControlName="doctorName"
             [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="setDoctor($event)" autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredDoctors" [value]="option">{{option.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="date"
             placeholder="Informe a data"
             matInput
             required
             formControlName="appointmentDate">
      <mat-hint>Informe a data do agendamento</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="time"
             placeholder="Informe a hora"
             matInput
             required
             min="6:00"
             max="18:00"
             formControlName="appointmentHour">
      <mat-hint>O horario deve ser de 6:00 até as 18:00</mat-hint>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-flat-button type="reset">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>
