<div class="doctors">
  <mat-card>
    <mat-card-actions>
      <button color="primary" (click)="addDoctor()" mat-raised-button>
        <mat-icon>person_add</mat-icon>
        Add Doctor
      </button>
    </mat-card-actions>
    <mat-card-content>
      <table mat-table [dataSource]="data">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle(): null"
                          [checked]="selection.hasValue()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"
              [innerText]="element.name"></td>
        </ng-container>
        <ng-container matColumnDef="crm">
          <th mat-header-cell *matHeaderCellDef> CRM</th>
          <td mat-cell *matCellDef="let element"
              [innerText]="element.crm"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
      </table>
    </mat-card-content>
    <mat-paginator></mat-paginator>
  </mat-card>
</div>
