:host {
  .background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-card {
      .mat-tab-nav-bar {
        margin: 0 -16px;
      }
    }
  }
}
