<div class="background">
  <h2>Scheduler</h2>
  <mat-card>
    <nav mat-tab-nav-bar color="accent">
      <a mat-tab-link
         routerLinkActive
         #rla="routerLinkActive"
         [active]="rla.isActive"
         [routerLink]="['/login']">ENTRAR</a>
      <a mat-tab-link
         routerLinkActive
         #rlaSignup="routerLinkActive"
         [active]="rlaSignup.isActive"
         [routerLink]="['/signup']">QUERO ME CADASTRAR</a>
    </nav>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
